{% extends 'sweetapp/layouts/main.html' %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3 col-12 mb-2">
            <div class="list-group">
                <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action active">Dashboard</a>
                    <a href="{% url 'cart' %}" class="list-group-item list-group-item-action">Cart</a>
                    <a href="{% url 'myorders' %}" class="list-group-item list-group-item-action">Orders</a>
                    <a href="{% url 'wishlist' %}" class="list-group-item list-group-item-action">Wishlist</a>
                    <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">Profile</a>
                    <a href="{% url 'changepassword' %}" class="list-group-item list-group-item-action">Change Password</a>
                    {% comment %} <a href="{% url 'addresslist' %}" class="list-group-item list-group-item-action">Address</a> {% endcomment %}
                    <a href="{% url 'logout' %}" class="list-group-item list-group-item-action text-danger">Logout</a>
            </div>
        </div>
        <div class="col-md-9 col-12 md-2">
            <div class="card">
                <h4 class="card-header">Add Address</h4>
                <div class="card-body">
                    <form method="POST" action="/addaddresslist/">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="text" class="form-label">Address</label>
                            <textarea class="form-control" id="address"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}