{% extends 'sweetapp/layouts/main.html' %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3 col-12 mb-2">
            <div class="list-group">
                <a class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">Dashboard</a>
                <a class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'cart' %}active{% endif %}" href="{% url 'cart' %}">Cart</a>
                <a class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'myorders' %}active{% endif %}" href="{% url 'myorders' %}">Orders</a>
                <a class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'wishlist' %}active{% endif %}" href="{% url 'wishlist' %}">Wishlist</a>
                <a class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" href="{% url 'profile' %}">Profile</a>
                <a class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'changepassword' %}active{% endif %}" href="{% url 'changepassword' %}">Change Password</a>
                <a class="list-group-item list-group-item-action text-danger {% if request.resolver_match.url_name == 'logout' %}active{% endif %}" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
        <div class="col-md-9 col-12 md-2">
            <div class="card">
                <h4 class="card-header">change Password</h4>
                <div class="card-body">
                    <form action="/changepassword/" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="pwd" class="form-label">Current Password</label>
                            <input type="password" class="form-control" name="cpwd" id="opswd" required>
                            <span onclick="myFun1()"><i class="fa fa-eye d-flex justify-content-end" style="margin-right: 10px; margin-top:-30px;" aria-hidden="true" id="eye2"></i></span>
                        </div>
                        <div class="mb-3">
                            <label for="pwd" class="form-label">New Password</label>
                            <input type="password" class="form-control" name="npwd" id="pas" required>
                            <span onclick="myFun2()"><i class="fa fa-eye d-flex justify-content-end" style="margin-right: 10px; margin-top:-30px;" aria-hidden="true" id="eye2"></i></span>
                        </div>
                        <div class="mb-3">
                            <label for="cpwd" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="cpas" required>
                            <span onclick="myFun3()"><i class="fa fa-eye d-flex justify-content-end" style="margin-right: 10px; margin-top:-30px;" aria-hidden="true" id="eye2"></i></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block scripts %}

<script>
    function myFun1(){
        var x=document.getElementById("opswd");
        if(x.type==="password"){
            x.type="text";
        }
        else{
            x.type="password";
        }
    }
    function myFun2(){
        var x=document.getElementById("pas");
        if(x.type==="password"){
            x.type="text";
        }
        else{
            x.type="password";
        }
    }
    function myFun3(){
        var x=document.getElementById("cpas");
        if(x.type==="password"){
            x.type="text";
        }
        else{
            x.type="password";
        }
    }
    
</script>

{% endblock scripts %}