<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Categories</h4>
                <ul>
                    <li><a href="#">Sweets</a></li>
                    <li><a href="#">Bakery</a></li>
                 <li><a href="#">Namkeens</a></li>
                </ul>
            </div>
         <div class="footer-col">
             <h4>Shop Hours</h4>
             <ul>
                 <li><a href="#">Sunday 9AM-9PM</a></li>
                     <li><a href="#">Monday 8AM-8PM</a></li>
                     <li><a href="#">Tuesday 8AM-8PM</a></li>
                     <li><a href="#">Wednesday 8AM-8PM</a></li>
                     <li><a href="#">Thursday 8AM-8PM</a></li>
                 <li><a href="#">Friday 8AM-8PM</a></li>
                 <li><a href="#">Saturday 8AM-8PM</a></li>
             </ul>
         </div>
            <div class="footer-col">
                <h4>Contact</h4>
                <ul>
                    <li><a href="#">Near Janjarda road,</a></li>
                    <li><a href="#">Junagadh,362001</a></li>
                    <li><a href="#">rutvikkamani28@gmail.com</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a>
                    <a href="https://web.whatsapp.com/"><i class="fa fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/home"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>