{% extends 'sweetapp/layouts/main.html' %}

{% block content %}

<div class="py-3 bg-primary">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}">Home /</a>
        <a class="text-white" href="{% url 'collections' %}">Category</a>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Category</h1>
                <hr>
                <div class="row">
                {% for item in category %}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="category-image">
                                    <a href="{% url 'collectionsview' item.slug %}"> <img src="{{item.image.url}}" alt="Category image" width="230px" height="230px"/> </a>
                                </div>
                                <h4 class="text-center"> {{item.name}} </h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
